<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba</title>
       
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Modo de uso</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Manual</h1>
            <h1>de usuario  </h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="Manual De Usuario">
            <h2 class="titulo">Nuestro producto</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYXVwFYMU6ZauB3ikSffDwbBHIQYkif3kc6hLmAruiK3_hDo190N0idDC2r9oHAKsS2qo&usqp=CAU" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Objetivos:</h3>
                    <p>
                        El objetivo de este proyecto es brindar ayuda hacia personas de la tercera 
                        edad con problemas de motricidad fina, brindado apoyo en cuanto al proceso
                        de rehabilitacion, los datos obtenidos mediante el prototipo de guante se guardaran
                        en una base de datos para su posterior seguimiento de recuperacion.
                        <i class="fas fa-expand-wide    "></i>

                    </p>
                    <h3><span>2</span>Deficion:</h3>
                    <p>
                        Es un guante electronico que facilita el
registro, actualización y administración de la información de pacientes
de la tercera edad, sus datos se guardaran en una base de datos llamada
mqtt.
                        </p>
                </div>
            </div>
        </section>
            
        <section class="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg">
            <h2 class="titulo">Protocolo de uso</h2>
            <div class="cards">
                <div class="card">
                    <div class="contenido-texto-card">
                        <h4>Usos</h4>
                        <p>En el campo de la fisioterapia el uso de elementos tecnológicos se ha vuelto indispensable<br>
                            para ayudar y mejorar al proceso de rehabilitación de pacientes con diferentes problemas<br>
                            físicos, en nuestro caso buscamos ayudar en cuanto a la perdeida de motricidad fina en <br>
                            adulto mayores.<br>
                            <br>
                            Planteamiento del problema:<br>
                            <br>
                            Dentro del campo de la medicina el uso de equipos tegnologicos tiende a tener un elevado <br>
                            costo, reduciendo las oportunidades de uso para personas de estratos sociales bajos.<br>
                            <br>
                            <br>
                            Modo de uso:<br>
                            El pasiente con ayuda de un especialista debera de colocarse el prototipo de guante en una<br>
                            de sus manos, con ayuda del fisioterapeuta o con la APP desarrollada empezara a realizar una serie<br>
                            de ejercicios diseñados para la recuperacion de la motricidad fina.<br><br>
                            Fisiología de la mano <br>
La presencia de las leyes básicas en movimiento,<br>
Enfocándose en la fisiología de la mano existen 4 puntos básicos para clasificar las<br>
patologías, dentro de las cuales se evalúa el progreso a través del tratamiento y<br>
rehabilitación oportunos:<br>
-Sistema Óseo<br>
-Sistema Articular.<br>
-Sistema Nervioso.<br>
-Sistema Muscular.<br>
Los músculos intrínsecos de la mano tienen una importancia fundamental en su<br>
funcionalidad y por tanto un impacto directo en las actividades cotidianas. <br>
<br>
Componentes:<br>
<br>
Sensor flexible<br>
Este sensor que muestra la Figura 3.5, está formado por una simple capa de material, en<br>
el cual se encuentran impresos varios canales sobre la delgada lámina, a medida que el<br>
sensor es flexionado el valor de resistencia aumenta, y dependiendo del grado de flexión<br>
aplicado sobre el sensor puede variar su valor de resistencia en un 1000% <br>

<br>
Protocolo mqtt:<br>
La comunicación MQTT utiliza el protocolo SSL para proteger los datos confidenciales que <br>
transmiten los dispositivos IoT. Puede implementar la identidad, la autenticación y la<br>
autorización entre los clientes y el agente mediante certificados SSL y contraseñas.<br>
<br>
SP23:
El SP32 es un previo/procesador de A/V de elegante diseño y configuración modular que <br>
destaca por incorporar una circuitería de audio completamente balanceada ejecutada con componentes<br>
 de grado audiófilo y una sección de procesado digital y de vídeo completamente actualizable que <br>
 opera con tecnología de 10 bits<br>
<br>

Registro de datos:<br>
El usuario al crear una cuenta sus datos se guardaran en cuanto al progreso en la<br>
recuperacion de motricdad fina.<br>
se proporcionaran ejercicios recomendados por el fisioterapeuta.<br>
El sistema permite que las personas realicen ejercicios análogos o complementarios a<br> 
los que efectúan cuando están en las sesiones de recuperación<br>
<br>
Funcionalidad:<br>
El guante proporcionara ayuda en cuanto a la realizacion de ejercicios,<br>
aplicacion para el seguimiento del progreso en la rehabilitacion,<br>
una base de datos para la informacion que se ingrese.<br>

</p>
                    </div>
                </div>
                
                </div>
    
        </section>
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8296312</p>
            </div>
            
        </div>
        <h2 class="titulo-final">Tecnico Salesiano</h2>
    </footer>
</body>

</html>